@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

:root {
  --header-gothic-font: Bluu next;
  --text-cormorant-leaner: "Cormorant Garamond", serif;
  --text-baskerville-bolder: "Libre Baskerville", serif;
  --header-hacked-rubik-burned: "Rubik Burned", cursive;
  --header-hacked-rubik-glitch: "Rubik Glitch", cursive;
}

* {
  background-color: lavender;
  font-family: var(--text-baskerville-bolder);
}

h1 {
  font-family: var(--header-gothic-font);
}
thead {
  font-family: var(--header-gothic-font);
}

/* PREFECT */
td[data-field="prefect"]::after {
  content: "⭐";
  filter: drop-shadow(1px 3px 0px brown);
}

td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}

/* INQUISITORS */
td[data-field="inquisitor"]::after {
  content: "👁️";
  filter: drop-shadow(2px 2px 3px purple);
}

td[data-field="inquisitor"][data-inquisitor="false"]::after {
  filter: opacity(0.5);
}

/* Indicate active sort */
#sorting th.sortBy {
  text-decoration: underline;
}

/* showing a smybol next to Sort */

#sorting th.sortBy[data-sort-direction="asc"]::after {
  content: "↑";
}

#sorting th.sortBy[data-sort-direction="desc"]::after {
  content: "↓";
}
