@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

:root {
  --header-gothic-font: Bluu next;
  --text-cormorant-leaner: "Cormorant Garamond", serif;
  --text-baskerville-bolder: "Libre Baskerville", serif;
  --header-hacked-rubik-burned: "Rubik Burned", cursive;
  --header-hacked-rubik-glitch: "Rubik Glitch", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--text-baskerville-bolder);
}

body {
  background-image: url(img/bgr.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* size:auto */
/* width: 100vw;
height:100vh */

/* header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
  background-color: #ffffff; /* Replace with your desired background color 
  z-index: 1; /* Make sure the header is on top of the table }*/

h1,
#status,
.search-container,
#filterBtnContainer {
  padding-bottom: 1em;
}

header {
  padding-bottom: 2em;
}

h1 {
  font-family: var(--header-gothic-font);
}

/* To Do: STYLE THE TABLE VIEW */
table#wizardList {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

thead {
  font-family: var(--header-gothic-font);
}

/* PREFECT */
td[data-field="prefect"]::after {
  content: "⭐";
  filter: drop-shadow(1px 3px 0px brown);
}

td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}

/* INQUISITORS */
td[data-field="inquisitor"]::after {
  content: "👁️";
  filter: drop-shadow(2px 2px 3px purple);
}

td[data-field="inquisitor"][data-inquisitor="false"]::after {
  filter: opacity(0.5);
}

/* Indicate active sort */
#sorting th.sortBy {
  text-decoration: underline;
}

/* showing a smybol next to Sort */

#sorting th.sortBy[data-sort-direction="asc"]::after {
  content: "↑";
}

#sorting th.sortBy[data-sort-direction="desc"]::after {
  content: "↓";
}

/*Remove AorB*/

.dialog {
  position: fixed;
  top: 25%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.prefect-dialog,
.inquisitor-dialog {
  box-shadow: 2px 1px 10px black;
  border-radius: 5px;
  padding: 2em;
  position: relative;
  background-image: url(img/pp.webp);
  background-size: cover;
}

.closebutton {
  position: absolute;
  top: 0.5em;
  right: 0.4em;
  background: none;
  border: none;
  /* width: 2em;
  height: 2em; */
}

.prefect-dialog h1,
.inquisitor-dialog h1 {
  margin-top: 0;
  font-family: var(--header-gothic-font);
}

#removeA {
  background-color: aqua;
}

.hide {
  visibility: hidden;
}

/*picture test*/
.picturebox-small {
  background-size: cover;
  /* height: auto; */
  /* width: 5em; */
}

/*-----------WIZARD MODAL CARD--------------*/

/* top: 10%;
left: 30%; */
/* background-image: url(./img/card-texture.jpg); */
#dialog-card {
  position: fixed;
  top: 0%;
  /* top: 10%; */
  left: 50vw;
  /* width: max-content; */
  width: 400px;
  height: auto;
  z-index: 100;
  filter: drop-shadow(10px 12px 10px black);
  border-radius: 10px;
  padding: 2em 1.5em 2em 1.5em;
  align-items: center;
  justify-content: space-around;
}

.house-g {
  background-image: url(./img/house-gryffindor.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: darkgoldenrod;
  background-blend-mode: color-burn;
}

.house-s {
  background-image: url(./img/house-slytherin.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: peachpuff;
  background-blend-mode: multiply;
}

.house-r {
  background-image: url(./img/house-ravenclaw.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lavenderblush;
  background-blend-mode: multiply;
}

.house-h {
  background-image: url(./img/house-hufflepuff.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: burlywood;
  background-blend-mode: multiply;
}

#card-details {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 10pt;
  line-height: 1.5em;
  /* background: radial-gradient(circle, rgba(251, 74, 74, 1) 0%, rgba(210, 29, 29, 1) 35%, rgba(158, 16, 16, 1) 76%); */
  background-color: rgba(255, 255, 255, 0.6);
}

#card-details li {
  font-family: var(--text-baskerville-bolder);
  font-size: inherit;
  color: black;
  list-style-type: none;
}

#closebtn {
  display: flex;
  flex-direction: row-reverse;
}

.closemodal {
  border: none;
  background-color: aquamarine;
  margin: 0;
}

/*House & Blood bar*/
#card-blood {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  font-size: smaller;
  margin: 0;
  background-image: url(./img/card-texture.webp);
  background-blend-mode: darken;
  background-size: cover;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 0.8em;
  border-radius: 8pt;
}

#card-blood * {
  margin: 0;
}

#card-blood-img {
  width: 3em;
  height: 3em;
}

/* profile picture */
#card-img {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
}

.modal-img {
  width: 10rem;
  height: 10rem;
  /* filter: drop-shadow(10px 12px 10px rgb(103, 100, 100)); */
  margin: 1em 0em 1em 0em;
}

#wizard-ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

button#card-expel {
  padding: 0.5em 7em;
  border-radius: 10pt;
  border: none;
  box-shadow: 1px -1px 20px black;
  background-image: url(./img/pp.webp);
  background-size: cover;
}

button#card-expel:hover {
  background-image: url(./img/pp.webp);
  background-color: grey;
  background-blend-mode: multiply;
}

.beyondExpell {
  color: black;
  font-family: var(--header-hacked-rubik-glitch);
}

/*hacking the system*/

.hacked {
  background-image: url(img/bgr.webp);
  background-color: darkolivegreen;
  background-blend-mode: color-burn;
}

/* linear-gradient(green, black) */

.hackedFont {
  font-family: var(--header-hacked-rubik-glitch);
  color: black;
}
